# One Time Scraping of Master Data of Gauges ("Pegelstammdaten") 

1. We loop over the possible PIDValues and loop over the possible PIDVals and create URL for the web request dynamically. To do this we use BeautfulSoup Package from Python.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np

In [2]:
import os

In [3]:
proj_lib = os.environ['proj_lib']
print(proj_lib)

C:\Program Files\PostgreSQL\15\share\contrib\postgis-3.3\proj

In [4]:
import os
#proj_lib = os.environ['proj_lib']
#print(proj_lib)

conda_prefix = os.environ['conda_prefix']
print(f"CONDA_PREFIX: {conda_prefix:s}")
os.environ['proj_lib'] = conda_prefix + r"\Library\share\proj"
proj_lib = os.environ['proj_lib']
print(f"New env var value: \nPROJ_LIB={proj_lib:s}")

CONDA_PREFIX: C:\Users\sindh\anaconda3\envs\geoinfo
New env var value:
PROJ_LIB=C:\Users\sindh\anaconda3\envs\geoinfo\Library\share\proj

In [5]:
#!pip uninstall -y pyproj
#pyproj.datadir.get_data_dir()

### First try extracting the data for one PID value

In [6]:
url = requests.get('https://howis.eglv.de/pegel/html/stammdaten_html/MO_StammdatenPegel.php?PIDVal=32').text
soup = BeautifulSoup(url, 'lxml')

In [7]:
Stammdaten = []
# Print Station Name 
Station_Name = soup.find('div', {'id':'popupcontenttitle'}).text.split()[-1]

# Print only the values of stammdaten 
Station_Values = soup.find_all('tr', {'class':'normtext'})

Values= []

for i in Station_Values:
    i = i.text.replace('\n',' ').split()[-1]
    Values.append(i)

Stammdaten.append({'Station': Station_Name, 'Values': Values})
df = pd.DataFrame(Stammdaten).replace('\n','')

In [8]:
df

  Station                                             Values
0    Hamm  [20012, Lippe, 59.40, 50.13, 2656.00, 2622828....

In [9]:
split = pd.DataFrame(df['Values'].to_list(), columns = ['Pegelnummer','Gewässer','Flusskilometer_(km)','Pegelnullpunkt_(m+NN)','Einzugsgebiet_(km²)','Rechtswert_(Gauss-Krüger)','Hochwert_(Gauss-Krüger)','MHW_(cm)','MW_(cm)','MNW_(cm)'])
df = pd.concat([df,split], axis=1)
df = df.drop('Values', axis=1)
df

,Station,Pegelnummer,Gewässer,Flusskilometer_(km),Pegelnullpunkt_(m+NN),Einzugsgebiet_(km²),Rechtswert_(Gauss-Krüger),Hochwert_(Gauss-Krüger),MHW_(cm),MW_(cm),MNW_(cm)
0,Hamm,20012,Lippe,59.40,50.13,2656.00,2622828.00,5728949.00,432,337,314

In [10]:
split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Pegelnummer                1 non-null      object
 1   Gewässer                   1 non-null      object
 2   Flusskilometer_(km)        1 non-null      object
 3   Pegelnullpunkt_(m+NN)      1 non-null      object
 4   Einzugsgebiet_(km²)        1 non-null      object
 5   Rechtswert_(Gauss-Krüger)  1 non-null      object
 6   Hochwert_(Gauss-Krüger)    1 non-null      object
 7   MHW_(cm)                   1 non-null      object
 8   MW_(cm)                    1 non-null      object
 9   MNW_(cm)                   1 non-null      object
dtypes: object(10)
memory usage: 208.0+ bytes

In [11]:
split['Flusskilometer_(km)']

0    59.40
Name: Flusskilometer_(km), dtype: object

In [12]:
cpl = df.columns[3:11]
for col in cpl:
    df[col] = pd.to_numeric(df[col], errors='coerce')  #treating blank or missing values as NaN

In [13]:
df

,Station,Pegelnummer,Gewässer,Flusskilometer_(km),Pegelnullpunkt_(m+NN),Einzugsgebiet_(km²),Rechtswert_(Gauss-Krüger),Hochwert_(Gauss-Krüger),MHW_(cm),MW_(cm),MNW_(cm)
0,Hamm,20012,Lippe,59.4,50.13,2656.0,2622828.0,5728949.0,432,337,314

### Now trying the loop over the URL and get the Stamm daten

In [18]:
#Looping over the URLs
pages = np.arange(1, 200, 1)
data = []

for page in pages:
     page = "https://howis.eglv.de/pegel/html/stammdaten_html/MO_StammdatenPegel.php?PIDVal=" + str(page)
     url_data = requests.get(page).text
     soup = BeautifulSoup(url_data, 'lxml')
     
     # The titltle is in format eg, Stammdaten : Dorsten so we split by : and print only the value after :
     Pegel_Name = soup.find('div', {'id':'popupcontenttitle'}).text.split(":")[-1].replace('\xa0','').replace('  ','') #prints the Pegel Station Name 
     Pegel_Values = soup.find_all('tr', {'class':'normtext'})
     Values= [] 
     for i in Pegel_Values:
            i = i.text.replace('\n',' ').split()[-1]
            Values.append(i)
     data.append({'Station': Pegel_Name, 'Values': Values})

df = pd.DataFrame(data).replace('\n','') 
split = pd.DataFrame(df['Values'].to_list(), columns = ['Pegelnummer','Gewässer','Flusskilometer_(km)','Pegelnullpunkt_(m+NN)','Einzugsgebiet_(km²)','Rechtswert_(Gauss-Krüger)','Hochwert_(Gauss-Krüger)','MHW_(cm)','MW_(cm)','MNW_(cm)'])
df = pd.concat([df,split], axis=1)
df = df.drop('Values', axis=1)
df

,Station,Pegelnummer,Gewässer,Flusskilometer_(km),Pegelnullpunkt_(m+NN),Einzugsgebiet_(km²),Rechtswert_(Gauss-Krüger),Hochwert_(Gauss-Krüger),MHW_(cm),MW_(cm),MNW_(cm)
0,(keine vorhanden),-,-,-,-,-,-,-,-,-,-
1,"Berne, Econova Allee",10104,Berne,1.40,31.48,(km²),2566184.00,5707172.00,-,-,-
2,"Berne, Sulterkamp",10105,Berne,2.83,32.91,(km²),2567323.00,5706410.00,-,-,-
3,Borbecker Mb. Cathostraße,10106,Mb.,0.65,34.22,(km²),2567540.00,5705975.00,-,-,-
4,HRB Borbecker Mb. Ablauf,11038,Mb.,1.79,37.10,(km²),2567629.83,5704851.75,244,47,37
...,...,...,...,...,...,...,...,...,...,...,...
194,(keine vorhanden),-,-,-,-,-,-,-,-,-,-
195,(keine vorhanden),-,-,-,-,-,-,-,-,-,-
196,(keine vorhanden),-,-,-,-,-,-,-,-,-,-
197,(keine vorhanden),-,-,-,-,-,-,-,-,-,-
198,(keine vorhanden),-,-,-,-,-,-,-,-,-,-

In [20]:
cpl = df.columns[3:11]
for col in cpl:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [21]:
no_data_index = df[df['Station'] == '(keine vorhanden)'].index

In [22]:
no_data_index

Int64Index([  0,   6,   9,  12,  15,  20,  25,  38,  39,  42,  45,  53,  63,
             64,  65,  66,  67,  68,  69,  74,  76,  77,  84,  86,  89,  94,
             99, 100, 103, 108, 109, 117, 120, 126, 130, 132, 137, 159, 169,
            170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
            183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
            196, 197, 198],
           dtype='int64')

In [23]:
df.drop(no_data_index, inplace = True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131 entries, 1 to 168
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Station                    131 non-null    object
 1   Pegelnummer                131 non-null    object
 2   Gewässer                   131 non-null    object
 3   Flusskilometer_(km)        131 non-null    float64
 4   Pegelnullpunkt_(m+NN)      131 non-null    float64
 5   Einzugsgebiet_(km²)        11 non-null     float64
 6   Rechtswert_(Gauss-Krüger)  103 non-null    float64
 7   Hochwert_(Gauss-Krüger)    103 non-null    float64
 8   MHW_(cm)                   45 non-null     float64
 9   MW_(cm)                    45 non-null     float64
 10  MNW_(cm)                   45 non-null     float64
dtypes: float64(8), object(3)
memory usage: 12.3+ KB

In [25]:
df['Pegelnummer'] = pd.to_numeric(df['Pegelnummer'], errors='coerce')

In [26]:
print(df.dtypes)

Station                       object
Pegelnummer                    int64
Gewässer                      object
Flusskilometer_(km)          float64
Pegelnullpunkt_(m+NN)        float64
Einzugsgebiet_(km²)          float64
Rechtswert_(Gauss-Krüger)    float64
Hochwert_(Gauss-Krüger)      float64
MHW_(cm)                     float64
MW_(cm)                      float64
MNW_(cm)                     float64
dtype: object

In [27]:
df.to_csv('pegel_Sammdata1.csv', encoding= 'iso-8859-15')

In [28]:
#!pip install pyproj

In [29]:
import pandas as pd
import psycopg2
import pyproj
import geopandas as gpd
from shapely.geometry import Point
from pyproj import CRS

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131 entries, 1 to 168
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Station                    131 non-null    object
 1   Pegelnummer                131 non-null    int64
 2   Gewässer                   131 non-null    object
 3   Flusskilometer_(km)        131 non-null    float64
 4   Pegelnullpunkt_(m+NN)      131 non-null    float64
 5   Einzugsgebiet_(km²)        11 non-null     float64
 6   Rechtswert_(Gauss-Krüger)  103 non-null    float64
 7   Hochwert_(Gauss-Krüger)    103 non-null    float64
 8   MHW_(cm)                   45 non-null     float64
 9   MW_(cm)                    45 non-null     float64
 10  MNW_(cm)                   45 non-null     float64
dtypes: float64(8), int64(1), object(2)
memory usage: 12.3+ KB

In [31]:
df['Rechtswert_(Gauss-Krüger)']

1      2566184.00
2      2567323.00
3      2567540.00
4      2567629.83
5      2567554.00
          ...
164    2567355.90
165           NaN
166           NaN
167    2566473.50
168           NaN
Name: Rechtswert_(Gauss-Krüger), Length: 131, dtype: float64

In [32]:
pyproj.datadir.get_data_dir()

'C:\\Users\\sindh\\anaconda3\\envs\\geoinfo\\lib\\site-packages\\pyproj\\proj_dir\\share\\proj'

In [33]:
%%time
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df['Rechtswert_(Gauss-Krüger)'], df['Hochwert_(Gauss-Krüger)']), crs="EPSG:31466")

CPU times: total: 0 ns
Wall time: 18.9 ms

In [34]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 131 entries, 1 to 168
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Station                    131 non-null    object
 1   Pegelnummer                131 non-null    int64
 2   Gewässer                   131 non-null    object
 3   Flusskilometer_(km)        131 non-null    float64
 4   Pegelnullpunkt_(m+NN)      131 non-null    float64
 5   Einzugsgebiet_(km²)        11 non-null     float64
 6   Rechtswert_(Gauss-Krüger)  103 non-null    float64
 7   Hochwert_(Gauss-Krüger)    103 non-null    float64
 8   MHW_(cm)                   45 non-null     float64
 9   MW_(cm)                    45 non-null     float64
 10  MNW_(cm)                   45 non-null     float64
 11  geometry                   131 non-null    geometry
dtypes: float64(8), geometry(1), int64(1), object(2)
memory usage: 13.3+ KB

In [45]:
gdf

,Station,Pegelnummer,Gewässer,Flusskilometer_(km),Pegelnullpunkt_(m+NN),Einzugsgebiet_(km²),Rechtswert_(Gauss-Krüger),Hochwert_(Gauss-Krüger),MHW_(cm),MW_(cm),MNW_(cm),geometry
1,"Berne, Econova Allee",10104,Berne,1.40,31.48,NaN,2566184.00,5707172.00,NaN,NaN,NaN,POINT (2566184.000 5707172.000)
2,"Berne, Sulterkamp",10105,Berne,2.83,32.91,NaN,2567323.00,5706410.00,NaN,NaN,NaN,POINT (2567323.000 5706410.000)
3,Borbecker Mb. Cathostraße,10106,Mb.,0.65,34.22,NaN,2567540.00,5705975.00,NaN,NaN,NaN,POINT (2567540.000 5705975.000)
4,HRB Borbecker Mb. Ablauf,11038,Mb.,1.79,37.10,NaN,2567629.83,5704851.75,244.0,47.0,37.0,POINT (2567629.830 5704851.750)
5,HRB Borbecker Mb. Becken,12036,Mb.,2.20,37.18,NaN,2567554.00,5704546.00,NaN,NaN,NaN,POINT (2567554.000 5704546.000)
...,...,...,...,...,...,...,...,...,...,...,...,...
164,DORS Brücke Gelsenkirchener Strasse,20123,Schölsbach,1.74,0.00,NaN,2567355.90,5724144.20,NaN,NaN,NaN,POINT (2567355.900 5724144.200)
165,DO Bruecke Hoerder Hafenstrasse,10131,Bach,0.22,0.00,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
166,E-Borbeck,1052,Mb.,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY
167,E Posener Strasse,10135,Mb.,5.75,0.00,NaN,2566473.50,5701578.30,NaN,NaN,NaN,POINT (2566473.500 5701578.300)
168,HRB Scharnhorst,22100,Körne,0.00,61.29,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY

In [36]:
gdf[gdf['Pegelnummer'] == 10119] ##df[df['Pegelnummer'] == 20001]#'location_df[location_df['Pegelnummer'] == 10124]

,Station,Pegelnummer,Gewässer,Flusskilometer_(km),Pegelnullpunkt_(m+NN),Einzugsgebiet_(km²),Rechtswert_(Gauss-Krüger),Hochwert_(Gauss-Krüger),MHW_(cm),MW_(cm),MNW_(cm),geometry
146,"Gelsenkirchen, Adenauerallee",10119,Emscher,32.28,30.75,NaN,NaN,NaN,NaN,NaN,NaN,POINT EMPTY

## PostGIS, Inline SQL: `create schema egvl`

In [37]:
%load_ext sql

In [38]:
print("Connect")
%sql postgresql://env_master:M123xyz@localhost/env_db

Connect

'Connected: env_master@env_db'

In [39]:
%%sql
SELECT * FROM information_schema.schemata

 * postgresql://env_master:***@localhost/env_db
6 rows affected.

[('env_db', 'public', 'pg_database_owner', None, None, None, None),
 ('env_db', 'information_schema', 'postgres', None, None, None, None),
 ('env_db', 'pg_catalog', 'postgres', None, None, None, None),
 ('env_db', 'pg_toast', 'postgres', None, None, None, None),
 ('env_db', 'pgs', 'env_master', None, None, None, None),
 ('env_db', 'gw', 'env_master', None, None, None, None)]

In [40]:
%%sql
CREATE SCHEMA IF NOT EXISTS eglv AUTHORIZATION env_master

 * postgresql://env_master:***@localhost/env_db
Done.

[]

In [41]:
%%sql
SELECT * FROM information_schema.schemata;

 * postgresql://env_master:***@localhost/env_db
7 rows affected.

[('env_db', 'public', 'pg_database_owner', None, None, None, None),
 ('env_db', 'information_schema', 'postgres', None, None, None, None),
 ('env_db', 'pg_catalog', 'postgres', None, None, None, None),
 ('env_db', 'pg_toast', 'postgres', None, None, None, None),
 ('env_db', 'eglv', 'env_master', None, None, None, None),
 ('env_db', 'pgs', 'env_master', None, None, None, None),
 ('env_db', 'gw', 'env_master', None, None, None, None)]

## PostGIS: Upload GeoDataFrame with `gdf.to_postgis()`

Dependencies:
* psycopg2
* geoalchemy2

In [42]:
import sqlalchemy
engine = sqlalchemy.create_engine("postgresql://env_master:M123xyz@localhost/env_db")

In [43]:
%%time
gdf.to_postgis(con=engine, name="eglv_stations", schema="eglv", index=True, chunksize=100, if_exists="replace")

CPU times: total: 62.5 ms
Wall time: 194 ms